

  <div >
<h1>
  {{title}}
</h1>
<div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
      <li class="nav-li"><a href="" [routerLink]="['/file']">Hem</a></li>
      <li class="nav-li"><a href="" [routerLink]="['/diffav']">Diff</a></li>
      <li class="nav-li"><a href="" [routerLink]="['/ufav']">UF</a></li>
      </ul>
    </div>

    <hr>
    <!--<button (click)="hamta()">Hämta testdata</button>
    <button (click)="onTestGet()">datum</button>

    <button (click)="byt()">Byt title</button>
    <button (click)="reset()">Reset title</button>-->

    <br/>
    <!--{{namnet}}

    {{getData}}-->



    <!--<table class="standard-table">
  <tr>
    <th>Month</th>
    <th>Savings</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Color</th>
    <th>Car</th>
    <th>Sign</th>
    <th>Siblings</th>
    <th>Food</th>
    <th>Drink</th>
    <th>City</th>
    <th>Country</th>
    <th>Speed</th>
   
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
    <td>40</td>
    <td>Male</td>
    <td>Blue</td>
    <td>Volvo</td>
    <td>Aries</td>
    <td>Yes</td>
    <td>Pasta</td>
    <td>Cola</td>
    <td>Ohio</td>
    <td>USA</td>
    <td>80 </td>
    
  </tr>
  <tr>
    <td>February</td>
    <td>$200</td>
    <td>41</td>
    <td>Female</td>
    <td>Green</td>
    <td>Toyota</td>
    <td>Scorpio</td>
    <td>No</td>
    <td>Sushi</td>
    <td>Beer</td>
    <td>Stockholm</td>
    <td>Sweden</td>
    <td>100 </td>
   
  </tr>
</table>-->

  
<!--<file-detail>Laddarkingen</file-detail>
<diff>Loading diff </diff>-->
<router-outlet></router-outlet>
</div>

   
