
<div>
  <h1>
  {{title}}
</h1>
<section>


 <form #sokUfForm="ngForm">
   <div class="col-xs-7">
<table class="table table-condensed">
    <tr>
    <td>Bolag:</td><td><select class="form-control" id="bol" name="bol" [(ngModel)]="selectedBol">
        <option *ngFor="let b of bolag" [ngValue]="b">{{b.name}}</option>
    </select></td>
  </tr>
  <tr>
    <td>Avstämningsperiod:</td><td><input type="text" #avper="ngModel" required minlength="6" maxlength="6" class="form-control" placeholder="period YYYYmm" id="period" name="period" [(ngModel)]="period" ngModel></td>
  </tr>
  
    <tr>
    <td>Pnr:</td><td><input type="text" class="form-control" placeholder="yyyymmdd-xxxx" id="pnr" name="pnr" [(ngModel)]="pnr"></td>
  </tr>
    <tr>
    <td>Förmånsmapp:</td><td><input type="text" class="form-control" placeholder="förmånsmapp id" id="fmid" name="fmid" [(ngModel)]="fmid" ></td>
  </tr>
</table>
   
<input type="submit" [disabled]="!sokUfForm.form.valid" value="Sök" (click)="search(period,pnr,fmid,selectedBol)"  class="btn btn-primary">
    <div *ngIf="avper.errors && avper.touched " class="alert alert-danger">

      Period måste vara ifyllt 6 tecken
    </div>
   </div>
 </form>
<hr>
<div *ngIf="ufavvikelser">


<table class="table table-striped">
  <tr> 
    <th>FmId</th>
    <th>Personnummer</th> 
    <th>Försäk Id</th>
    <th>Felutfallstext</th>
    <th>Ing kap</th> 
    <th>Utg kap</th> 
    <th>Gar Pension</th> 
    <th>Återbär Pen</th> 
    <th>Återbet belopp</th> 
    <th>Kostnad/I</th>
    <th>K/I-typ</th>
    <th>K/I-belopp</th>
    <th>Kategori</th>
    <th>Status</th>   
    <th>Notering</th> 
</tr>
<tr *ngFor="let u of ufavvikelser; let i = index; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }" (click)="onSelect(u)" [class.selected]="u === ufavikelse" >

 <td>{{u.fmId}}</td>
 <td>{{u.personnummer}}</td>
 <td>{{u.avtalsNummer}}</td>
 <td>{{u.felutfall}}</td>
 <td>{{u.ingkap}}</td>
 <td>{{u.utgKap}}</td>
 <td>{{u.garPension}}</td>
 <td>{{u.aterBarpension}}</td>
 <td>{{u.aterBetbelopp}}</td>
 <td>{{u.kostnadIntakt}}</td>
 <td>{{u.kiTyp}}</td>
 <td>{{u.kiBelopp}}</td>
 <td>{{u.kategori}}</td>
 <td>{{u.status}}</td>
 <td>{{ (u.notering) ? u.notering.noteringid : 'finns ej'}}</td>

</tr>
</table>
</div>
</section>
</div>