<div *ngIf="ufavvikelse">
  <h1>UF</h1>

<table class="table table-striped">
  <tr>
    <th>Fmid</th>
    <th>Pnr</th>
    <th>Försäkr-id</th>
    <th>Felutfallstext</th>
    <th>Ing kap</th>
    <th>Utg kap</th>
    <th>Gar pension</th>
    <th>Återbäring pen</th>
    <th>Återbäring be</th>
    <th>Kostnad /Intäkt</th>
    <th>K/I-typ</th>
    <th>K/I-belopp</th>
    <th>Kategori</th>
    <th>Ansvarig</th>
    <th>Status</th>

  </tr>
  <tr>
    <td>{{ufavvikelse.fmId}}</td>
    <td>{{ufavvikelse.personnummer}}</td>
    <td>{{ufavvikelse.avtalsNummer}}</td>
    <td>{{ufavvikelse.felutfall}}</td>
    <td>{{ufavvikelse.ingkap}}</td>
    <td>{{ufavvikelse.utgKap}}</td>
    <td>{{ufavvikelse.garPension}}</td>
    <td>{{ufavvikelse.aterBarpension}}</td>
    <td>{{ufavvikelse.aterBetbelopp}}</td>
    <td>{{ufavvikelse.kostnadIntakt}}</td>
    <td>{{ufavvikelse.kiTyp}}</td>
    <td>{{ufavvikelse.kiBelopp}}</td>
    <td><input type="text" class="form-control" value="{{ufavvikelse.kategori}}"  [(ngModel)]="ufavvikelse.kategori"/></td>
    <td><input type="text" class="form-control" value="{{ufavvikelse.ansvarig}}"  [(ngModel)]="ufavvikelse.ansvarig"/></td>
    <!--<td><select class="form-control" [(ngModel)]="ufavvikelse.status">
        <option>{{ufavvikelse.status}}</option>
        <option *ngFor="let b of statusar" [ngValue]="b">{{b.name}}</option>
    </select></td>-->
    <td><input type="text" class="form-control" value="{{ufavvikelse.status}}"  [(ngModel)]="ufavvikelse.status"/></td>
 </tr>
</table>
<!--Kategori<input type="text" class="" value=""  /><br/>
Status<input type="text" class="" value=""  />-->

<h3>Notering</h3> 
<div *ngIf="ufavvikelse.notering">

  <textarea rows="10" cols="150" [(ngModel)]="ufavvikelse.notering.text">

        {{ ufavvikelse.notering.text }}

  </textarea>
  <p><input type="submit" value="Uppdatera" (click)="uppdaterAvvikelse(ufavvikelse.kategori,ufavvikelse.ansvarig,ufavvikelse.status,ufavvikelse.notering.text)" class="btn btn-primary"></p>
  {{svarsmeddelande}}
</div>

<div *ngIf="!ufavvikelse.notering">

  <textarea rows="10" cols="150" [(ngModel)]="nyNot">

     

  </textarea>
  <p><input type="submit" value="Skapa" (click)="uppdaterAvvikelseMedNotering(ufavvikelse.kategori,ufavvikelse.ansvarig,ufavvikelse.status,nyNot)" class="btn btn-primary"></p>
  {{svarsmeddelande}}
</div>


</div>
